HSP_EXECUTION_RECORD_SERVICE_SERVICE_NAME=hsp-execution-record-service
HSP_EXECUTION_RECORD_SERVICE_ENV=dev
HSP_EXECUTION_RECORD_SERVICE_LOG_LEVEL=INFO

HSP_EXECUTION_RECORD_SERVICE_GRPC_HOST=0.0.0.0
HSP_EXECUTION_RECORD_SERVICE_GRPC_PORT=50051
HSP_EXECUTION_RECORD_SERVICE_GRPC_TARGET=127.0.0.1:50051

HSP_EXECUTION_RECORD_SERVICE_HTTP_HOST=0.0.0.0
HSP_EXECUTION_RECORD_SERVICE_HTTP_PORT=8080

HSP_EXECUTION_RECORD_SERVICE_USE_MOCK_REPOSITORY=false
HSP_EXECUTION_RECORD_SERVICE_MYSQL_DSN=mysql+aiomysql://<user_name>:<pwd>@mysql:3306/execution_record
