SERVICE_NAME=hsp-execution-record-service
ENV=dev
LOG_LEVEL=INFO

GRPC_HOST=0.0.0.0
GRPC_PORT=50051
GRPC_TARGET=127.0.0.1:50051

HTTP_HOST=0.0.0.0
HTTP_PORT=8080

USE_MOCK_REPOSITORY=false
MYSQL_DSN=mysql+aiomysql://<user_name>:<pwd>@mysql:3306/execution_record
